<div class="top-container">
  <mat-form-field>
    <mat-label>Wyszukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openForm()">
    <mat-icon>add</mat-icon>
    Dodaj
  </button>
</div>

<div class="table-responsive mat-elevation-z8">
  <table mat-table matSort [dataSource]="(vehicles$ | async)!" aria-label="Klienci">
    <ng-container matColumnDef="select">
      <th class="check" mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td class="check" mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th class="icon" mat-header-cell *matHeaderCellDef></th>
      <td class="icon" mat-cell *matCellDef="let vehicle">
        <button mat-icon-button matTooltip="Szczegóły" (click)="openDetails(vehicle)">
          <mat-icon class="mat-18">open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th class="icon" mat-header-cell *matHeaderCellDef></th>
      <td class="icon" mat-cell *matCellDef="let vehicle">
        <button mat-icon-button matTooltip="Edytuj" (click)="openForm(vehicle)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th class="icon" mat-header-cell *matHeaderCellDef></th>
      <td class="icon" mat-cell *matCellDef="let vehicle">
        <button mat-icon-button color="warn" matTooltip="Usuń" (click)="onDeleteVehicle(vehicle)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.name }}</td>
    </ng-container>

    <ng-container matColumnDef="vehicleBrand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Marka pojazdu</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.vehicleBrand.name }}</td>
    </ng-container>

    <ng-container matColumnDef="registrationNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer rejestracyjny</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.registrationNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="insurer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Właściciel</th>
      <td mat-cell *matCellDef="let vehicle">
        @for (insurer of vehicle.insurers; track $index) {
          {{ insurer.name }}<br />
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="firstRegistrationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data pierwszej rejestracji</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.firstRegistrationDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="productionYear">
      <th mat-header-cell *matHeaderCellDef>Rok produkcji</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.productionYear | date }}</td>
    </ng-container>

    <ng-container matColumnDef="vin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>VIN</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.vin }}</td>
    </ng-container>

    <ng-container matColumnDef="kw">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>KW</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.kw }}</td>
    </ng-container>

    <ng-container matColumnDef="km">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>KM</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.km }}</td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pojemność</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.capacity }}</td>
    </ng-container>

    <ng-container matColumnDef="mileage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Przebieg</th>
      <td mat-cell *matCellDef="let vehicle">{{ vehicle.mileage }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Brak wyników dla: "{{ input.value }}"</td>
    </tr>
  </table>
</div>

<mat-paginator
  #paginator
  [length]="totalItemsCount$ | async"
  [pageIndex]="0"
  [pageSize]="30"
  [pageSizeOptions]="[10, 20, 30, 50]"
  aria-label="Wybierz stronę"
>
</mat-paginator>
