.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.icon {
  padding: 0;
  width: 0;
}

.check {
  width: 0;
}

tr:nth-child(even) {
  background-color: #f0f0f0 !important;
}
