<header class="container mat-primary">
  <div>
    <a routerLink="/"><b>PolisPro</b> Reminder</a>
  </div>
  <div *ngIf="user$ | async as user" class="container-inner">
    <div>
      Dzień dobry <b>{{ user.firstName }}!</b>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/change-password" mat-menu-item>
        <mat-icon>password</mat-icon>
        <span>Zmień hasło</span>
      </a>
    </mat-menu>
  </div>
</header>
