@if (policy) {
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">
        {{ policy.title }}
        <button mat-icon-button matTooltip="Edytuj">
          <mat-icon>edit</mat-icon>
        </button></mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="content">
      <div class="content-inner">
        <h3>Numer polisy: {{ policy.policyNumber }}</h3>
        <h3>Towarzystwo: {{ policy.insuranceCompany.name }}</h3>
        <h3>
          Ubezpieczający:
          {{ policy.insurers | insurers }}
        </h3>
        <h3>Początek ubezpieczenia: {{ policy.startDate | date }}</h3>
        <h3>Koniec ubezpieczenia: {{ policy.endDate | date }}</h3>
        <h3>
          Termin zapłaty:
          @if (policy.paymentDate) {
            {{ policy.paymentDate | date }}
          } @else {
            <b>brak</b>
          }
        </h3>
        <h3>
          Czy opłacono:
          @if (policy.isPaid) {
            <button mat-flat-button color="warn" disabled>TAK</button>
          } @else {
            <button mat-flat-button color="warn">NIE</button>
          }
        </h3>
        <h3>
          Notka:
          @if (policy.note) {
            {{ policy.note }}
          } @else {
            <b>brak</b>
          }
        </h3>
        <h3>
          <mat-chip-listbox>
            @for (type of policy.insuranceTypes; track type.id) {
              <mat-chip disableRipple="true" color="accent">{{ type.name }}</mat-chip>
            }
          </mat-chip-listbox>
        </h3>
      </div>
    </mat-card-content>
    <app-attachments-list [parent]="attachmentParentEnum.POLICY" [parentId]="policy.id" />
  </mat-card>
} @else {
  <app-error-info></app-error-info>
}
