@if (vehicle) {
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">
        {{ vehicle.name }} {{ vehicle.registrationNumber }}
        <button mat-icon-button matTooltip="Edytuj">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <div class="content-inner">
        <h3>Marka: {{ vehicle.vehicleBrand.name }}</h3>
        <h3>Numer rejestracyjny: {{ vehicle.registrationNumber }}</h3>
        <h3>Właściciel: {{ vehicle.insurer.lastName }} {{ vehicle.insurer.firstName }}</h3>
        @if (vehicle.vin) {
          <h3>VIN: {{ vehicle.vin }}</h3>
        }
        @if (vehicle.productionYear) {
          <h3>Data produkcji: {{ vehicle.productionYear }}</h3>
        }
        @if (vehicle.firstRegistrationDate) {
          <h3>Data pierwszej rejestracji: {{ vehicle.firstRegistrationDate }}</h3>
        }
        @if (vehicle.capacity) {
          <h3>Pojemność silnika: {{ vehicle.capacity }}</h3>
        }
        @if (vehicle.km) {
          <h3>KM: {{ vehicle.km }}</h3>
        }
        @if (vehicle.kw) {
          <h3>KW: {{ vehicle.kw }}</h3>
        }
        @if (vehicle.mileage) {
          <h3>Przebieg: {{ vehicle.mileage }}</h3>
        }

        <app-attachments-list [parent]="AttachmentParentEnum.VEHICLE" [parentId]="vehicle.id" />
      </div>
    </mat-card-content>
  </mat-card>
} @else {
  <app-error-info></app-error-info>
}
