<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="closeDrawer()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/insurers" routerLinkActive="active" (click)="closeDrawer()">
        <mat-icon matListItemIcon>group</mat-icon>
        <span>Klienci</span>
      </a>
      <a mat-list-item routerLink="/policies" routerLinkActive="active" (click)="closeDrawer()">
        <mat-icon matListItemIcon>description</mat-icon>
        <span>Polisy</span>
      </a>
      <a mat-list-item routerLink="/company" routerLinkActive="active" (click)="closeDrawer()">
        <mat-icon matListItemIcon>apartment</mat-icon>
        <span>Towarzystwa</span>
      </a>
      <a mat-list-item routerLink="/types" routerLinkActive="active" (click)="closeDrawer()">
        <mat-icon matListItemIcon>category</mat-icon>
        <span>Typy</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav
    fixedInViewport
    disableClose
    role="dialog"
    mode="over"
    [opened]="isPortalOpened$ | async"
    position="end"
    class="sidenav-portal"
  >
    <div class="sidenav-portal-button">
      <button mat-icon-button (click)="onPortalClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ng-template [cdkPortalOutlet]="selectedPortal$ | async"></ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PolisPro</span>
    </mat-toolbar>
    <app-loading-bar></app-loading-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
