.sidenav-container {
  min-height: 100vh;
}

.sidenav-portal-button {
  margin: 15px 15px 0 15px;
}

.sidenav-portal {
  padding: 0 20px 20px 20px;
  max-width: 100%;
}

.sidenav-portal-container {
  max-width: 80%;
}
