<div *ngIf="policies$ | async as policies">
  <mat-form-field>
    <mat-label>Wyszukaj</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="np. Tytuł"
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="policies" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let policy">{{ policy.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Tytuł</th>
      <td mat-cell *matCellDef="let policy">{{ policy.title }}</td>
    </ng-container>

    <ng-container matColumnDef="policyNumber">
      <th mat-header-cell *matHeaderCellDef>Numer polisy</th>
      <td mat-cell *matCellDef="let policy">{{ policy.policyNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="insurer">
      <th mat-header-cell *matHeaderCellDef>Ubezpieczający</th>
      <td mat-cell *matCellDef="let policy">
        {{ policy.insurer.lastName }} {{ policy.insurer.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="insuranceCompany">
      <th mat-header-cell *matHeaderCellDef>Towarzystwo</th>
      <td mat-cell *matCellDef="let policy">{{ policy.insuranceCompany }}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Początek ubezpieczenia</th>
      <td mat-cell *matCellDef="let policy">{{ policy.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>Koniec ubezpieczenia</th>
      <td mat-cell *matCellDef="let policy">{{ policy.endDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="paymentDate">
      <th mat-header-cell *matHeaderCellDef>Termin zapłaty</th>
      <td mat-cell *matCellDef="let policy">{{ policy.paymentDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="isPaid">
      <th mat-header-cell *matHeaderCellDef>Czy opłacono</th>
      <td mat-cell *matCellDef="let policy">
        <mat-chip-set>
          @if(policy.isPaid){
          <mat-chip disabled>TAK</mat-chip>
          }@else{
          <mat-chip disabled>NIE</mat-chip> }
        </mat-chip-set>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Brak wyników dla: "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>
