.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.full-width-table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f0f0f0 !important;
}
