<div class="top-container">
  <mat-form-field>
    <mat-label>Wyszukaj</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
  <div class="chips">
    <mat-chip-listbox>
      @for (type of insuranceTypes$ | async; track type) {
        <mat-chip-option (click)="selectInsuranceTypeId(type.id)">{{ type.name }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
  <div class="add-button">
    @if (!isArchived) {
      <button mat-raised-button color="primary" matTooltip="Dodaj" (click)="openForm()">
        <mat-icon>add</mat-icon>
        Dodaj
      </button>
    }
  </div>
</div>

<div class="table-responsive mat-elevation-z8">
  <table mat-table matSort [dataSource]="(policies$ | async)!" aria-label="Polisy">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th class="icon" mat-header-cell *matHeaderCellDef></th>
      <td class="icon" mat-cell *matCellDef="let policy">
        <button mat-icon-button matTooltip="Szczegóły" (click)="openDetails(policy)">
          <mat-icon class="mat-18">open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th class="icon" mat-header-cell *matHeaderCellDef></th>
      <td class="icon" mat-cell *matCellDef="let policy">
        <div matTooltip="Nie można edytować archiwum" [matTooltipDisabled]="!isArchived">
          <button
            [disabled]="isArchived"
            mat-icon-button
            matTooltip="Edytuj"
            (click)="openForm(policy)"
          >
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th class="icon" mat-header-cell *matHeaderCellDef></th>
      <td class="icon" mat-cell *matCellDef="let policy">
        <div matTooltip="Nie można usuwać archiwum" [matTooltipDisabled]="!isArchived">
          <button
            [disabled]="isArchived"
            mat-icon-button
            color="warn"
            matTooltip="Usuń"
            (click)="onDeletePolicy(policy)"
          >
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tytuł</th>
      <td mat-cell *matCellDef="let policy">
        <span class="cell-content" [cdkCopyToClipboard]="policy.title">
          <div class="column-title">
            {{ policy.title }}
          </div>
          <mat-icon matTooltip="Kopiuj"> assignment </mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="policyNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer polisy</th>
      <td mat-cell *matCellDef="let policy">
        <div class="cell">
          <span class="cell-content" [cdkCopyToClipboard]="policy.policyNumber">
            {{ policy.policyNumber }}
            <mat-icon matTooltip="Kopiuj"> assignment </mat-icon>
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="insurer">
      <th mat-header-cell *matHeaderCellDef>Ubezpieczający</th>
      <td mat-cell *matCellDef="let policy">
        @for (insurer of policy.insurers; track $index) {
          {{ insurer.name }}<br />
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="insuranceCompany">
      <th mat-header-cell *matHeaderCellDef>Towarzystwo</th>
      <td mat-cell *matCellDef="let policy">
        {{ policy.insuranceCompany?.shortName || policy.insuranceCompany.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Początek ubezpieczenia</th>
      <td mat-cell *matCellDef="let policy">{{ policy.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Koniec ubezpieczenia</th>
      <td mat-cell *matCellDef="let policy">{{ policy.endDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="paymentDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Termin zapłaty</th>
      <td mat-cell *matCellDef="let policy">{{ policy.paymentDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="insuranceTypes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ ubezpieczenia</th>
      <td mat-cell *matCellDef="let policy">{{ policy.insuranceTypes | insuranceType }}</td>
    </ng-container>

    <ng-container matColumnDef="isPaid">
      <th mat-header-cell *matHeaderCellDef>Czy opłacono</th>
      <td mat-cell *matCellDef="let policy">
        @if (policy.isPaid) {
          <button mat-flat-button color="warn" disabled>TAK</button>
        } @else {
          <button mat-flat-button color="warn">NIE</button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Brak wyników dla: "{{ input.value }}"</td>
    </tr>
  </table>
</div>
<mat-paginator
  #paginator
  [length]="totalItemsCount$ | async"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 15, 30]"
  aria-label="Wybierz stronę"
>
</mat-paginator>
