.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  flex-wrap: wrap;
}

.full-width-table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f0f0f0 !important;
}

@media (max-width: 800px) {
  .top-container {
    padding-right: 5px;
    padding-left: 5px;
  }

  .chips {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    order: 2;
  }
}

.cell-content {
  display: flex;
  align-items: center;
  gap: 2px;
  mat-icon {
    cursor: pointer;
    width: 17px;
    height: 17px;
    font-size: 17px;
    opacity: 0;
    transition: 0.2s;
  }
  &:hover {
    mat-icon {
      opacity: 0.38;
    }
  }
}
