<div class="wrapper">
  <div class="login-page">
    <app-logo />
    <h1>Zaloguj się</h1>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Login</mat-label>
        <input matInput formControlName="email" />
        @if (loginForm.controls.email.hasError("required")) {
          <mat-error>Login jest wymagany</mat-error>
        }
      </mat-form-field>

      <app-password-input [control]="loginForm.controls.password"></app-password-input>
      <button mat-raised-button color="primary">Zaloguj się</button>
    </form>
  </div>
</div>
