<mat-card>
  <mat-card-header>
    <mat-card-title class="title">
      <span>Twoi asystenci</span>
      <button mat-mini-fab color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <div>
    @if (loading$ | async) {
      <mat-progress-spinner
        mode="indeterminate"
        diameter="30"
        class="loading-spinner"
      ></mat-progress-spinner>
    }

    @if (!(loading$ | async)) {
      @if (assistants$ | async; as assistants) {
        <mat-list>
          @if (assistants.length > 0) {
            @for (assistant of assistants; track assistant.id) {
              <mat-list-item>
                <span matListItemTitle>{{ assistant.firstName }} {{ assistant.lastName }}</span>
                <span matListItemLine>{{ assistant.email }}</span>
                @if (!assistant.isEmailConfirmed) {
                  <div matListItemMeta>
                    <mat-icon matTooltip="Asystent nie potwierdził adresu email">warning</mat-icon>
                  </div>
                }
              </mat-list-item>
            }
          } @else {
            <mat-list-item> Brak asystentów do wyświetlenia. </mat-list-item>
          }
        </mat-list>
      }
    }
  </div>
</mat-card>
