<mat-card>
  <mat-card-header>
    <mat-card-title class="title">
      <span>Twoi asystenci</span>
      <button mat-mini-fab color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <div>
    @if (loading) {
      <mat-progress-spinner
        mode="indeterminate"
        diameter="30"
        class="loading-spinner"
      ></mat-progress-spinner>
    }

    @if (!loading) {
      @if (assistants$ | async; as assistants) {
        <mat-list>
          @if (assistants.length > 0) {
            @for (assistant of assistants; track assistant.id) {
              <mat-list-item>
                <span matListItemTitle>{{ assistant.firstName }} {{ assistant.lastName }}</span>
                <span matListItemLine>{{ assistant.email }}</span>

                <div matListItemMeta>
                  @if (!assistant.isEmailConfirmed) {
                    <mat-icon matTooltip="Asystent nie potwierdził adresu email">warning</mat-icon>
                  }
                  <span [matTooltip]="assistant.isLockedOut ? 'Asystent zablokowany' : 'Zablokuj'">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="blockAssistant(assistant.id)"
                      [disabled]="assistant.isLockedOut"
                    >
                      <mat-icon>block</mat-icon>
                    </button>
                  </span>

                  <button
                    mat-icon-button
                    color="warn"
                    matTooltip="Usuń"
                    (click)="deleteAssistant(assistant.id)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            }
          } @else {
            <mat-list-item> Brak asystentów do wyświetlenia. </mat-list-item>
          }
        </mat-list>
      }
    }
  </div>
</mat-card>
