<div class="container" appDnd (fileDropped)="onAttachmentDropped($event)">
  <input
    type="file"
    #attachmentDropRef
    id="attachmentDropRef"
    multiple
    (change)="attachmentBrowseHandler($event)"
  />
  <mat-icon>upload</mat-icon>
  <h3>Przeciągnij i upuść tutaj</h3>
  <h3>lub</h3>
  <label for="attachmentDropRef">Wybierz plik</label>
</div>

<mat-list>
  @for (attachment of attachments; track attachment; let index = $index) {
    <mat-list-item>
      <div matListItemIcon>
        <button mat-icon-button color="warn" matTooltip="Usuń" (click)="handleDelete(index)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <span matListItemTitle> {{ attachment.name }}</span>
      <span matListItemLine>{{ attachment.lastModified | date }}</span>
    </mat-list-item>
  }
</mat-list>
