@if (user$ | async; as user) {
  <mat-card class="user-info-card">
    <mat-card-header>
      <mat-card-title>
        <span>Twoje dane </span>
      </mat-card-title>
    </mat-card-header>

    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Imię i Nazwisko</span>
        <span matListItemLine>{{ user.firstName }} {{ user.lastName }}</span>
        <div matListItemMeta>
          <button mat-icon-button (click)="openChangeUserInfoDialog()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Email</span>
        <span matListItemLine>{{ user.email }} </span>
        <div matListItemMeta>
          <button mat-icon-button (click)="openChangeEmailDialog()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>Hasło</span>
        <span matListItemLine>*******</span>
        <div matListItemMeta>
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Role</span>
        <span matListItemLine>{{ user.roles.join(", ") }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  @if (user.roles.includes("Agent")) {
    <app-assistants />
  } @else if (user.roles.includes("Assistant")) {
    <app-agent-info />
  }
}
