.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0;

  a {
    flex-shrink: 0;
  }
}

[matlistitemicon] {
  width: auto;
}

.flex {
  display: flex;
  align-items: center;
}
