@if (insurer) {
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title"
        >{{ insurer.firstName }} {{ insurer.lastName }}
        <button mat-icon-button matTooltip="Edytuj">
          <mat-icon>edit</mat-icon>
        </button></mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="content">
      <div class="content-inner">
        <h3>PESEL: {{ insurer.pesel }}</h3>
        <h3>Numer Telefonu: {{ insurer.phoneNumber }}</h3>
        <h3>Email: {{ insurer.email }}</h3>
        <h3>Adres: {{ insurer.postalCode }} {{ insurer.city }}</h3>
        <h3>Ulica: {{ insurer.street }}</h3>
      </div>

      @if (insurer.policies?.length) {
        <app-insurers-policies [policies]="insurer.policies!"></app-insurers-policies>
      } @else {
        <div class="content-inner">
          <h4 class="">Klient nie posiada jeszcze żadnej polisy.</h4>
          <button mat-raised-button color="primary" (click)="openForm()">
            <mat-icon>add</mat-icon>
            Dodaj polisę
          </button>
        </div>
      }
    </mat-card-content>
  </mat-card>
} @else {
  <app-error-info></app-error-info>
}
