<form [formGroup]="form" novalidate>
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title class="card-title">
        {{ policy ? "Edytuj polisę" : "Dodaj nową polisę" }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Tytuł polisy</mat-label>
        <input matInput formControlName="title" />
        @if (form.controls.title.hasError("required")) {
          <mat-error> Tytuł polisy jest wymagane </mat-error>
        }
      </mat-form-field>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Numer polisy</mat-label>
            <input matInput formControlName="policyNumber" />
            @if (form.controls.policyNumber.hasError("required")) {
              <mat-error> Numer polisy jest wymagany </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <app-autocomplete
            [control]="form.controls.insuranceCompanyId"
            [options]="insuranceCompanies$ | async"
            label="Towarzystwo ubezpieczeniowe"
            errorMessage="Towarzystwo ubezpieczeniowe jest wymagane"
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Początek ubezpieczenia</mat-label>
            <input matInput formControlName="startDate" [matDatepicker]="startDate" />
            <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Koniec ubezpieczenia</mat-label>
            <input matInput formControlName="endDate" [matDatepicker]="endDate" />
            <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
            @if (form.controls.endDate.hasError("greaterThan")) {
              <mat-error> Koniec nie może być przed początkiem </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Termin płatności</mat-label>
            <input matInput formControlName="paymentDate" [matDatepicker]="paymentDate" />
            <mat-datepicker-toggle matIconSuffix [for]="paymentDate"></mat-datepicker-toggle>
            <mat-datepicker #paymentDate></mat-datepicker>
            @if (form.controls.paymentDate.hasError("greaterThan")) {
              <mat-error> Termin nie może być przed początkiem </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-autocomplete
            [control]="form.controls.insurerId"
            [options]="insurers$ | async"
            label="Ubezpieczający"
            errorMessage="Ubezpieczający jest wymagany"
          />
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Typy Ubezpieczenia</mat-label>
            <mat-select formControlName="insuranceTypeIds" multiple>
              @for (type of insuranceTypes$ | async; track type.id) {
                <mat-option [value]="type.id">{{ type.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="isPaid">Czy opłacono</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Zapisz</button>
    </mat-card-actions>
  </mat-card>
</form>
