.full-width {
  width: 100%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

@media (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
  }
  .col {
    flex: 1;
    margin-right: 20px;
  }

  .col:last-child {
    margin-right: 0;
  }
}

.mat-expansion-panel-header-title {
  font-size: 18px;
}

.button-container {
  margin-top: 15px;
}
