<form [formGroup]="form" novalidate>
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ policy?.id ? "Edytuj polisę" : "Dodaj nową polisę" }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field class="full-width">
        <mat-label>Tytuł polisy</mat-label>
        <input matInput formControlName="title" />
        @if (form.controls.title.hasError("required")) {
          <mat-error> Tytuł polisy jest wymagane </mat-error>
        }
      </mat-form-field>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Numer polisy</mat-label>
            <input matInput formControlName="policyNumber" />
            @if (form.controls.policyNumber.hasError("required")) {
              <mat-error> Numer polisy jest wymagany </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          @if (insuranceCompanies$ | async; as companies) {
            @if (companies.length) {
              <app-autocomplete
                [control]="form.controls.insuranceCompanyId"
                [options]="companies"
                label="Towarzystwo ubezpieczeniowe"
                errorMessage="Towarzystwo ubezpieczeniowe jest wymagane"
              />
            }
          }
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Początek ubezpieczenia</mat-label>
            <input matInput formControlName="startDate" [matDatepicker]="startDate" />
            <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Koniec ubezpieczenia</mat-label>
            <input matInput formControlName="endDate" [matDatepicker]="endDate" />
            <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
            @if (form.controls.endDate.hasError("greaterThan")) {
              <mat-error> Koniec nie może być przed początkiem </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Termin płatności</mat-label>
        <input matInput formControlName="paymentDate" [matDatepicker]="paymentDate" />
        <mat-datepicker-toggle matIconSuffix [for]="paymentDate"></mat-datepicker-toggle>
        <mat-datepicker #paymentDate></mat-datepicker>
        @if (form.controls.paymentDate.hasError("greaterThan")) {
          <mat-error> Termin nie może być przed początkiem </mat-error>
        }
      </mat-form-field>

      <div class="row">
        <div class="col">
          @if (insurers$ | async; as insurers) {
            @if (insurers.length) {
              <app-autocomplete
                [control]="form.controls.insurerId"
                [options]="insurers"
                label="Ubezpieczający"
                errorMessage="Ubezpieczający jest wymagany"
              />
            }
          }
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Typy Ubezpieczenia</mat-label>
            <mat-select formControlName="insuranceTypeIds" multiple>
              @for (type of insuranceTypes$ | async; track type.id) {
                <mat-option [value]="type.id">{{ type.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Notka</mat-label>
        <textarea matInput formControlName="note"></textarea>
      </mat-form-field>

      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="isPaid">Czy opłacono</mat-checkbox>
        </div>
      </div>
    </mat-expansion-panel>

    @if (policy && policy.id) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Pliki </mat-panel-title>
        </mat-expansion-panel-header>
        <app-attachments-list [parent]="attachmentParentEnum.POLICY" [parentId]="policy.id" />
      </mat-expansion-panel>
    }

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Dołącz pliki </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-attachment-input
          (onAttachmentsChange)="onAttachmentsChange($event)"
        ></app-attachment-input>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onSubmit()">Zapisz</button>
  </div>
</form>
