<div class="container">
  <div class="list-container">
    <h2 class="title">
      Do zrobienia
      <button mat-mini-fab color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="tasksToDo"
      [cdkDropListConnectedTo]="[doneList]"
      class="list"
      (cdkDropListDropped)="drop($event, tasksToDo, false)"
    >
      @for (task of tasksToDo; track task.id) {
        <div class="box" cdkDrag>
          {{ task.title }}
          <button mat-icon-button (click)="openDialog(task)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      } @empty {
        <div class="empty-list">Brak zadań do wykonania</div>
      }
    </div>
  </div>

  <div class="list-container">
    <h2>Wykonane</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="tasksDone"
      [cdkDropListConnectedTo]="[todoList]"
      class="list done-list"
      (cdkDropListDropped)="drop($event, tasksDone, true)"
    >
      @for (task of tasksDone; track task.id) {
        <div class="box" cdkDrag>
          {{ task.title }}
          <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      } @empty {
        <div class="empty-list">Przesuń tutaj wykonane zadania</div>
      }
    </div>
  </div>
</div>
