<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ vehicle ? "Edytuj pojazd" : "Dodaj nowy pojazd" }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Nazwa pojazdu</mat-label>
            <input matInput formControlName="name" />
            @if (form.controls.name.hasError("required")) {
              <mat-error> Nazwa pojazdu jest wymagane </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Numer rejestracyjny</mat-label>
            <input matInput formControlName="registrationNumber" />
            @if (form.controls.registrationNumber.hasError("required")) {
              <mat-error> Numer rejestracyjny jest wymagany </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          @if (vehicleBrands$ | async; as vehicleBrands) {
            @if (vehicleBrands.length) {
              <app-autocomplete
                [control]="form.controls.vehicleBrandId"
                [options]="vehicleBrands"
                label="Marka"
                errorMessage="Marka pojazdu jest wymagana"
              />
            }
          }
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Właściciel</mat-label>
            <mat-select formControlName="insurerIds" multiple>
              @for (insurer of insurers$ | async; track insurer.id) {
                <mat-option [value]="insurer.id">{{ insurer.value }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Data pierwszej rejestracji</mat-label>
            <input
              matInput
              formControlName="firstRegistrationDate"
              [matDatepicker]="firstRegistrationDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="firstRegistrationDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #firstRegistrationDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Data produkcji</mat-label>
            <input matInput formControlName="productionYear" [matDatepicker]="productionYear" />
            <mat-datepicker-toggle matIconSuffix [for]="productionYear"></mat-datepicker-toggle>
            <mat-datepicker #productionYear></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>VIN</mat-label>
            <input matInput formControlName="vin" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Przebieg</mat-label>
            <input matInput formControlName="mileage" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>KW</mat-label>
            <input matInput type="number" formControlName="kw" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>KM</mat-label>
            <input matInput type="number" formControlName="km" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Pojemność</mat-label>
            <input matInput formControlName="capacity" />
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>

    @if (vehicle) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Pliki </mat-panel-title>
        </mat-expansion-panel-header>
        <app-attachments-list [parent]="attachmentParentEnum.VEHICLE" [parentId]="vehicle.id" />
      </mat-expansion-panel>
    }

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Dołącz pliki </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-attachment-input
          (onAttachmentsChange)="onAttachmentsChange($event)"
        ></app-attachment-input>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Zapisz</button>
  </div>
</form>
