<div class="wrapper">
  <div class="page">
    <app-logo />
    @if (loading) {
      <div>Trwa potwierdzanie adresu email...</div>
    }
    @if (error) {
      <div>{{ error }}</div>
    }
    @if (!loading && confirmed) {
      <h2 mat-dialog-title>Ustaw nowe hasło</h2>
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-password-input [control]="form.controls.newPassword" label="Nowe hasło">
        </app-password-input>
        <app-password-input
          [control]="form.controls.confirmPassword"
          label="Powtórz hasło"
        ></app-password-input>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Ustaw hasło
        </button>
      </form>
    }
  </div>
</div>
