@import url(assets/_variables.scss);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  scrollbar-width: thin;
}
