@import url(assets/_variables.scss);
@import url(assets/_table-responsive.scss);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  scrollbar-width: thin;
}

.active {
  background-color: #e9e9e9 !important;
  * {
    color: black !important;
  }
}

div.mat-mdc-form-field-infix {
  width: 200px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
