<mat-grid-list cols="3" rowHeight="430px">
  @for (card of cards$ | async; track card.id) {
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        @if (card.title) {
          <mat-card-header>
            <mat-card-title>{{ card.title }}</mat-card-title>
          </mat-card-header>
        }
        <mat-card-content>
          @switch (card.id) {
            @case (1) {
              <app-policies-latest></app-policies-latest>
            }
            @case (3) {
              <app-todo></app-todo>
            }
            @default {
              <div>Inna zawartość</div>
            }
          }
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  }
</mat-grid-list>
